img {
    height: 240px;
    width: 240px;
    display: grid;
    grid-template-rows: 1fr;
    padding: 15px 0px 0px 10px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;

}

.image img:hover {
    transform: scale(1.1);
}

body {
    background-color: mediumturquoise;
}

.container {
    max-width: 600px;
    background-color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

}

h1,
h2 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: all 150ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: aqua;
    font-size: 14px;

}

footer {
    text-align: center;
    margin: 10px 0px;
    font-size: 24px;
}

p {
    margin: 5px;
    padding: 5px;
}

.first_image {
    transition: all 200ms ease-in-out;
}

.first_image:hover {
    transform: scale(1.2);
    filter: contrast(45%);
}

.theme {
    background-color: black;
    color: white;
}

.theme:hover {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.dark a {
    color: cyan;
}

.dark .container {
    background-color: #1A1A1A;
}